Repository SeleniumHQ/selenium, pull requests merged in 2018-06, with the labels that each got.

#5917 Implement HasCapabilities by EventFiringWebDriver
  java/client/src/org/openqa/selenium/support/events/EventFiringWebDriver.java
  java/client/test/org/openqa/selenium/support/events/EventFiringWebDriverTest.java
Labels: C-java

#3479 Added bindings for custom ChromeDriver commands
  java/client/src/org/openqa/selenium/chrome/ChromeDriverCommand.java
  java/client/src/org/openqa/selenium/chrome/ChromeDriverCommandExecutor.java
Labels: C-java

#5999 Updated ChromeDriver docs
  java/client/src/org/openqa/selenium/chrome/ChromeDriverService.java
  java/client/src/org/openqa/selenium/chrome/ChromeOptions.java
Labels: C-docs, C-java

#5954 Fix comment issues.
  java/client/src/org/openqa/selenium/MutableCapabilities.java
Labels: C-java

#5691 Added more documentation to isEnabled() and resolves #3547
  java/client/src/org/openqa/selenium/WebElement.java
Labels: C-docs, C-java, R-needs code changes

#5982 Remove package_data and data_files options from setup.py
  py/setup.py
Labels: C-py
