Repository SeleniumHQ/selenium, pull requests merged in 2019-07, with the labels that each got.

#7282 Add chromedriver cast APIs to remote server
  java/client/src/org/openqa/selenium/chromium/ChromiumDriver.java
  java/client/src/org/openqa/selenium/chromium/ChromiumDriverCommand.java
  java/client/src/org/openqa/selenium/chromium/ChromiumDriverCommandExecutor.java
Labels: C-java

#7375 [rb] remove Firefox::Binary class
  rb/lib/selenium/webdriver/common/service.rb
  rb/lib/selenium/webdriver/firefox.rb
  rb/lib/selenium/webdriver/firefox/binary.rb
  rb/lib/selenium/webdriver/firefox/options.rb
  rb/spec/unit/selenium/webdriver/firefox/binary_spec.rb
  rb/spec/unit/selenium/webdriver/firefox/service_spec.rb
Labels: C-rb, D-firefox

#7376 [rb] remove unnecessary code from Firefox::Profile class
  rb/build.desc
  rb/lib/selenium/webdriver/firefox/profile.rb
  rb/spec/integration/selenium/webdriver/firefox/profile_spec.rb
Labels: C-rb, D-firefox

#7182 [py] Adding full page screenshot feature for Firefox
  py/selenium/webdriver/firefox/remote_connection.py
  py/selenium/webdriver/firefox/webdriver.py
  py/test/selenium/webdriver/firefox/ff_takes_full_page_screenshots_tests.py
Labels: C-py

#6620 Pass capabilities rather than options to the proxy object
  py/selenium/webdriver/firefox/options.py
Labels: C-py

#7312 [rb] initialize all of the drivers in superclass
  rb/lib/selenium/webdriver/chrome/driver.rb
  rb/lib/selenium/webdriver/common/driver.rb
  rb/lib/selenium/webdriver/edge_html/driver.rb
  rb/lib/selenium/webdriver/firefox/driver.rb
  rb/lib/selenium/webdriver/ie/driver.rb
  rb/lib/selenium/webdriver/remote/bridge.rb
  rb/lib/selenium/webdriver/remote/driver.rb
  rb/lib/selenium/webdriver/safari/driver.rb
  rb/lib/selenium/webdriver/support/event_firing_bridge.rb
  rb/spec/unit/selenium/webdriver/support/event_firing_spec.rb
Labels: C-rb
