Repository SeleniumHQ/selenium, pull requests merged in 2019-05, with the labels that each got.

#7198 Support ChromeDriver "append log" flag in Java
  java/client/src/org/openqa/selenium/chrome/ChromeDriverService.java
Labels: C-java

#6761 Fix node.js handling of multi-byte UTF8 characters
  javascript/node/selenium-webdriver/http/index.js
Labels: C-nodejs

#7205 Add Duration-based constructors to WebDriverWait
  java/client/src/org/openqa/selenium/support/ui/WebDriverWait.java
Labels: C-java

#7215 Add tests for Duration-based WebDriverWait constructors
  java/client/test/org/openqa/selenium/support/ui/WebDriverWaitTest.java
Labels: C-java

#7152 Fix FTP and HTTPS proxy markers.
  cpp/iedriver/ProxyManager.cpp
Labels: D-IE

#7245 [rb] Add aggregate_failures if there is more than one 'expect()'.
  rb/spec/unit/selenium/webdriver/proxy_spec.rb
Labels: C-rb
