Repository SeleniumHQ/selenium, pull requests merged in 2019-08, with the labels that each got.

#7423 Handles long overflow on JsonTypeCoercer
  java/client/src/org/openqa/selenium/json/JsonTypeCoercer.java
  java/client/test/org/openqa/selenium/ExecutingJavascriptTest.java
Labels: C-java

#7418 Add inspector GDC
  java/client/src/org/openqa/selenium/devtools/inspector/Inspector.java
  java/client/test/org/openqa/selenium/devtools/ChromeDevToolsInspectorTest.java
  java/client/test/org/openqa/selenium/devtools/DevToolsTests.java
Labels: C-java

#7463 Fixing typo in ByFriend(l)yLocator class name
  java/client/src/org/openqa/selenium/support/friendly/ByFriendlyLocator.java
  java/client/test/org/openqa/selenium/support/friendly/ByFriendlyLocatorTest.java
Labels: C-java

#7460 Only conditionalize Travis on tree changes if the build is a PR
  scripts/travis/script.sh
Labels: C-infra

#7415 added ResourceTiming parser in CDP Network
  java/client/src/org/openqa/selenium/devtools/network/model/ResourceTiming.java
  java/client/src/org/openqa/selenium/devtools/network/model/Response.java
  java/client/test/org/openqa/selenium/devtools/ChromeDevToolsNetworkTest.java
Labels: C-java

#7442 Selenium 4.0 grid browser priority, first cut
  java/server/src/org/openqa/selenium/grid/distributor/local/Host.java
  java/server/src/org/openqa/selenium/grid/distributor/local/LocalDistributor.java
  java/server/src/org/openqa/selenium/grid/distributor/remote/RemoteDistributor.java
  java/server/test/org/openqa/grid/internal/NewRequestCrashesDuringNewSessionTest.java
  java/server/test/org/openqa/selenium/grid/distributor/DistributorTest.java
  java/server/test/org/openqa/selenium/grid/distributor/local/LocalDistributorTest.java
  java/server/test/org/openqa/selenium/grid/router/EndToEndTest.java
Labels: C-grid

#7406 [PY] Implement logical expected conditions in Python
  py/selenium/webdriver/support/expected_conditions.py
  py/test/selenium/webdriver/support/expected_conditions_tests.py
Labels: C-py
