Repository SeleniumHQ/selenium, pull requests merged in 2020-07, with the labels that each got.

#8511 [rb] update guards to minimize unnecessary execution and allow messages
  rb/.rubocop.yml
  rb/spec/integration/selenium/webdriver/chrome/driver_spec.rb
  rb/spec/integration/selenium/webdriver/chrome/options_spec.rb
  rb/spec/integration/selenium/webdriver/chrome/profile_spec.rb
  rb/spec/integration/selenium/webdriver/edge/driver_spec.rb
  rb/spec/integration/selenium/webdriver/edge/options_spec.rb
  rb/spec/integration/selenium/webdriver/edge/profile_spec.rb
  rb/spec/integration/selenium/webdriver/firefox/driver_spec.rb
  rb/spec/integration/selenium/webdriver/firefox/profile_spec.rb
  rb/spec/integration/selenium/webdriver/guard_spec.rb
  rb/spec/integration/selenium/webdriver/remote/driver_spec.rb
  rb/spec/integration/selenium/webdriver/remote/element_spec.rb
  rb/spec/integration/selenium/webdriver/safari/driver_spec.rb
  rb/spec/integration/selenium/webdriver/spec_helper.rb
  rb/spec/integration/selenium/webdriver/spec_support/guards.rb
  rb/spec/integration/selenium/webdriver/spec_support/guards/guard.rb
Labels: C-rb

#7222 Use java.time.Duration to configure timeouts
  java/client/src/org/openqa/selenium/JavascriptExecutor.java
  java/client/src/org/openqa/selenium/WebDriver.java
  java/client/src/org/openqa/selenium/remote/DriverCommand.java
  java/client/src/org/openqa/selenium/remote/RemoteWebDriver.java
  java/client/src/org/openqa/selenium/support/events/EventFiringWebDriver.java
  java/client/test/org/openqa/selenium/ExecutingAsyncJavascriptTest.java
  java/client/test/org/openqa/selenium/ImplicitWaitTest.java
  java/client/test/org/openqa/selenium/PageLoadingTest.java
  java/client/test/org/openqa/selenium/html5/AppCacheTest.java
  java/server/src/org/openqa/selenium/remote/server/handler/ConfigureTimeout.java
  java/server/src/org/openqa/selenium/remote/server/handler/ImplicitlyWait.java
  java/server/src/org/openqa/selenium/remote/server/handler/SetScriptTimeout.java
  java/server/test/org/openqa/selenium/remote/server/handler/ConfigureTimeoutTest.java
Labels: C-java

#8540 fix for issue 8457: RemoteWebDriver: Multiple files uploading method looks for files on local machine instead Selenium container
  dotnet/src/webdriver/Remote/RemoteWebElement.cs
Labels: C-dotnet
