Repository SeleniumHQ/selenium, pull requests merged in 2022-10, with the labels that each got.

#10990 [java] pick random port outside of well-known ranges of ephemeral ports
  java/src/org/openqa/selenium/net/PortProber.java
Labels: C-java

#10987 [java] Consume in batches from the new session queue
  java/src/org/openqa/selenium/grid/distributor/local/LocalDistributor.java
  java/src/org/openqa/selenium/grid/sessionqueue/GetNextMatchingRequest.java
  java/src/org/openqa/selenium/grid/sessionqueue/NewSessionQueue.java
  java/src/org/openqa/selenium/grid/sessionqueue/local/LocalNewSessionQueue.java
  java/src/org/openqa/selenium/grid/sessionqueue/remote/RemoteNewSessionQueue.java
  java/test/org/openqa/selenium/grid/sessionqueue/local/LocalNewSessionQueueTest.java
Labels: C-grid

#10995 [java] Deprecate max-threads flag. Add an alternate flag in the distributor for new session thread pool size.
  java/src/org/openqa/selenium/grid/commands/EventBusCommand.java
  java/src/org/openqa/selenium/grid/commands/Hub.java
  java/src/org/openqa/selenium/grid/commands/Standalone.java
  java/src/org/openqa/selenium/grid/distributor/config/DistributorFlags.java
  java/src/org/openqa/selenium/grid/distributor/config/DistributorOptions.java
  java/src/org/openqa/selenium/grid/distributor/httpd/DistributorServer.java
  java/src/org/openqa/selenium/grid/distributor/local/LocalDistributor.java
  java/src/org/openqa/selenium/grid/node/httpd/NodeServer.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterServer.java
  java/src/org/openqa/selenium/grid/sessionmap/httpd/SessionMapServer.java
  java/src/org/openqa/selenium/grid/sessionqueue/httpd/NewSessionQueueServer.java
  java/test/org/openqa/selenium/grid/distributor/AddingNodesTest.java
  java/test/org/openqa/selenium/grid/distributor/DistributorTest.java
  java/test/org/openqa/selenium/grid/distributor/local/LocalDistributorTest.java
  java/test/org/openqa/selenium/grid/graphql/GraphqlHandlerTest.java
  java/test/org/openqa/selenium/grid/router/JmxTest.java
  java/test/org/openqa/selenium/grid/router/NewSessionCreationTest.java
  java/test/org/openqa/selenium/grid/router/RouterTest.java
  java/test/org/openqa/selenium/grid/router/SessionCleanUpTest.java
  java/test/org/openqa/selenium/grid/router/SessionQueueGridTest.java
Labels: C-grid

#11079 Enable msIEModeAlwaysWaitForUnload for Edge IE Mode
  cpp/iedriver/BrowserFactory.cpp
Labels: D-IE

#11144 [java] Make sure `EventFiringWebElement` implements all `WebElement` methods
  java/src/org/openqa/selenium/support/events/EventFiringWebDriver.java
Labels: C-java

#11175 ensure the correct output stream is used
  java/src/org/openqa/selenium/netty/server/RequestConverter.java
Labels: C-java

#11121 [py]: #11093 - The SessionId shouldn't be added to params themself bu…
  py/selenium/webdriver/remote/webdriver.py
  py/test/selenium/webdriver/common/print_pdf_tests.py
Labels: C-py

#11178 [grid] Add ability to use Enter key to confirm
  javascript/grid-ui/src/components/LiveView/PasswordDialog.tsx
Labels: C-grid
