Repository SeleniumHQ/selenium, pull requests merged in 2022-04, with the labels that each got.

#10519 [Javascript] Split String on grapheme pairs in sendKeys command
  javascript/node/selenium-webdriver/lib/webdriver.js
  javascript/node/selenium-webdriver/test/lib/webdriver_test.js
Labels: C-nodejs

#10480 [rb] Add process status check to the stop_process method too
  rb/lib/selenium/webdriver/common/service_manager.rb
Labels: C-rb

#10376 [dotnet] Fix missing documentation comments in NuGet package
  dotnet/src/support/WebDriver.Support.StrongNamed.nuspec
  dotnet/src/support/WebDriver.Support.nuspec
  dotnet/src/webdriver/WebDriver.StrongNamed.nuspec
  dotnet/src/webdriver/WebDriver.nuspec
  dotnet/src/webdriverbackedselenium/Selenium.WebDriverBackedSelenium.StrongNamed.nuspec
  dotnet/src/webdriverbackedselenium/Selenium.WebDriverBackedSelenium.nuspec
Labels: C-dotnet

#10445 [java] Add wheel input
  java/src/org/openqa/selenium/interactions/Actions.java
  java/src/org/openqa/selenium/interactions/SourceType.java
  java/src/org/openqa/selenium/interactions/WheelInput.java
  java/test/org/openqa/selenium/interactions/ActionsTest.java
  java/test/org/openqa/selenium/interactions/DefaultWheelTest.java
  java/test/org/openqa/selenium/interactions/WheelInputTest.java
Labels: C-java
