Repository SeleniumHQ/selenium, pull requests merged in 2022-11, with the labels that each got.

#11197 [grid][ui] Add search field for running sessions
  javascript/grid-ui/src/components/EnhancedTableToolbar.tsx
  javascript/grid-ui/src/components/RunningSessions/RunningSessions.tsx
  javascript/grid-ui/src/components/RunningSessions/RunningSessionsSearchBar.tsx
  javascript/grid-ui/src/tests/components/RunningSessions.test.tsx
Labels: C-grid

#11055 [iedriver] ignore zoom if running on Edge
  cpp/iedriver/BrowserFactory.cpp
Labels: D-IE

#11262 [js] Support Node 17 and above
  javascript/node/selenium-webdriver/http/index.js
Labels: C-nodejs

#11267 Stop using system-wide Python for Bazel
  .bazelrc
  BUILD.bazel
  Rakefile
  WORKSPACE
  py/BUILD.bazel
  rake_tasks/bazel/task.rb
  scripts/build-info.ps1
  scripts/build-info.py
  scripts/build-info.sh
Labels: C-build

#11276 [java][bidi] Add LogInspector
  java/src/org/openqa/selenium/bidi/LogInspector.java
  java/test/org/openqa/selenium/bidi/LogInspectorTest.java
Labels: C-java

#11260 [grid] do not offload from multiple threads to a single worker
  java/src/org/openqa/selenium/netty/server/RequestConverter.java
  java/src/org/openqa/selenium/netty/server/ResponseConverter.java
Labels: C-java

#11143 [dotnet] Use new implementation of HttpClient in DriverService for communication
  dotnet/src/webdriver/DriverService.cs
  dotnet/src/webdriver/Safari/SafariDriverService.cs
Labels: C-dotnet

#11308 Replace response.getheader() with response.headers.get()
  py/CHANGES
  py/selenium/webdriver/remote/remote_connection.py
Labels: C-py

#11315 [java] Merge mutable capabilities with options correctly
  java/src/org/openqa/selenium/MutableCapabilities.java
  java/src/org/openqa/selenium/chrome/ChromeOptions.java
  java/src/org/openqa/selenium/chromium/ChromiumOptions.java
  java/src/org/openqa/selenium/edge/EdgeOptions.java
  java/src/org/openqa/selenium/firefox/FirefoxOptions.java
  java/test/org/openqa/selenium/chrome/ChromeOptionsTest.java
  java/test/org/openqa/selenium/edge/EdgeOptionsTest.java
  java/test/org/openqa/selenium/firefox/FirefoxOptionsTest.java
Labels: C-java
