Repository SeleniumHQ/selenium, pull requests merged in 2022-12, with the labels that each got.

#11310 [py]: 🚀 Improve performance
  py/selenium/webdriver/support/expected_conditions.py
Labels: C-py

#11343 Don’t specify content length when pulling images
  java/src/org/openqa/selenium/docker/v1_41/PullImage.java
Labels: C-java

#11297 [grid] ensure all states of StartOrDie are handled
  java/src/org/openqa/selenium/os/CommandLine.java
  java/src/org/openqa/selenium/os/OsProcess.java
  java/src/org/openqa/selenium/remote/service/DriverService.java
Labels: C-grid

#11311 [java][bidi] Add BrowsingContext module commands
  java/src/org/openqa/selenium/bidi/BUILD.bazel
  java/src/org/openqa/selenium/bidi/browsingcontext/BrowsingContext.java
  java/src/org/openqa/selenium/bidi/browsingcontext/BrowsingContextInfo.java
  java/src/org/openqa/selenium/bidi/browsingcontext/NavigationResult.java
  java/src/org/openqa/selenium/bidi/browsingcontext/ReadinessState.java
  java/test/org/openqa/selenium/bidi/browsingcontext/BUILD.bazel
  java/test/org/openqa/selenium/bidi/browsingcontext/BrowsingContextTest.java
Labels: C-java, C-devtools

#11277 [grid] Support file downloads on the node
  java/src/org/openqa/selenium/grid/node/DownloadFile.java
  java/src/org/openqa/selenium/grid/node/Node.java
  java/src/org/openqa/selenium/grid/node/config/NodeFlags.java
  java/src/org/openqa/selenium/grid/node/config/NodeOptions.java
  java/src/org/openqa/selenium/grid/node/k8s/OneShotNode.java
  java/src/org/openqa/selenium/grid/node/local/LocalNode.java
  java/src/org/openqa/selenium/grid/node/local/LocalNodeFactory.java
  java/src/org/openqa/selenium/grid/node/remote/RemoteNode.java
  java/src/org/openqa/selenium/remote/http/Contents.java
  java/test/org/openqa/selenium/grid/distributor/AddingNodesTest.java
  java/test/org/openqa/selenium/grid/node/NodeTest.java
Labels: C-grid

#11271 [grid] Accommodate ability to specify sub-paths
  java/src/org/openqa/selenium/grid/TemplateGridServerCommand.java
  java/src/org/openqa/selenium/grid/commands/BUILD.bazel
  java/src/org/openqa/selenium/grid/commands/Hub.java
  java/src/org/openqa/selenium/grid/commands/Standalone.java
  java/src/org/openqa/selenium/grid/router/httpd/BUILD.bazel
  java/src/org/openqa/selenium/grid/router/httpd/RouterFlags.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterOptions.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterServer.java
  java/src/org/openqa/selenium/grid/web/GridUiRoute.java
  java/test/org/openqa/selenium/grid/router/ReverseProxyEndToEndTest.java
Labels: C-grid

#11395 [JS] Bidi Support
  javascript/node/selenium-webdriver/BUILD.bazel
  javascript/node/selenium-webdriver/bidi/index.js
  javascript/node/selenium-webdriver/bidi/logEntries.js
  javascript/node/selenium-webdriver/bidi/logInspector.js
  javascript/node/selenium-webdriver/chromium.js
  javascript/node/selenium-webdriver/firefox.js
  javascript/node/selenium-webdriver/http/index.js
  javascript/node/selenium-webdriver/index.js
  javascript/node/selenium-webdriver/lib/test/fileserver.js
  javascript/node/selenium-webdriver/lib/webdriver.js
  javascript/node/selenium-webdriver/test/bidi/bidi_test.js
Labels: C-nodejs, C-devtools
