Repository SeleniumHQ/selenium, pull requests merged in 2023-12, with the labels that each got.

#13219 [java] bug(#12791) Grid vnc session is not using the --sub-path argument
  java/src/org/openqa/selenium/grid/node/local/LocalNode.java
  java/test/org/openqa/selenium/grid/node/local/LocalNodeTest.java
Labels: C-grid

#13237 [dotnet] Removed {{separator}} token from C# filename codegen
  third_party/dotnet/devtools/src/generator/CodeGen/CodeGenerationDefinitionTemplateSettings.cs
  third_party/dotnet/devtools/src/generator/CodeGen/Utility.cs
Labels: C-dotnet

#13249 [dotnet] Possibility to output internal log messages to file
  dotnet/src/webdriver/Internal/Logging/ConsoleLogHandler.cs
  dotnet/src/webdriver/Internal/Logging/FileLogHandler.cs
  dotnet/src/webdriver/Internal/Logging/ILogHandler.cs
  dotnet/src/webdriver/Internal/Logging/LogContext.cs
  dotnet/test/common/Internal/Logging/FileLogHandlerTest.cs
Labels: C-dotnet

#13265 [dotnet] Change a list of downloadable files to IReadOnlyList
  dotnet/src/webdriver/IHasDownloads.cs
  dotnet/src/webdriver/Remote/RemoteWebDriver.cs
  dotnet/test/common/DownloadsTest.cs
Labels: C-dotnet

#13258 [py] Add page load strategy enum
  py/selenium/webdriver/common/options.py
  py/test/selenium/webdriver/marionette/mn_options_tests.py
  py/test/unit/selenium/webdriver/chrome/chrome_options_tests.py
  py/test/unit/selenium/webdriver/edge/edge_options_tests.py
  py/test/unit/selenium/webdriver/firefox/firefox_options_tests.py
  py/test/unit/selenium/webdriver/ie/test_ie_options.py
  py/test/unit/selenium/webdriver/remote/new_session_tests.py
  py/test/unit/selenium/webdriver/safari/safari_options_tests.py
  py/test/unit/selenium/webdriver/webkitgtk/webkitgtk_options_tests.py
Labels: C-py

#13200 [java] remove deprecated classes and their tests
  java/src/org/openqa/selenium/support/events/AbstractWebDriverEventListener.java
  java/src/org/openqa/selenium/support/events/EventFiringWebDriver.java
  java/src/org/openqa/selenium/support/events/WebDriverEventListener.java
  java/test/org/openqa/selenium/support/events/EventFiringWebDriverTest.java
Labels: C-java

#13266 chore(java): update-migrate htmlunit dependency
  java/maven_deps.bzl
  java/maven_install.json
  java/test/org/openqa/selenium/atoms/BUILD.bazel
  java/test/org/openqa/selenium/atoms/CompiledAtomsNotLeakingTest.java
  java/test/org/openqa/selenium/atoms/InputAtomsTest.java
Labels: R-awaiting answer

#13212 [java] add ability to disabled UI on grid
  java/src/org/openqa/selenium/grid/commands/Hub.java
  java/src/org/openqa/selenium/grid/commands/Standalone.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterFlags.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterOptions.java
  java/src/org/openqa/selenium/grid/router/httpd/RouterServer.java
Labels: C-grid

#13283 [rust] Use latest browser from cache when browser path is not discovered
  rust/src/files.rs
  rust/src/lib.rs
  rust/src/main.rs
Labels: C-rust

#12951 [py] filter which bidi logs are recorded based on event type
  py/selenium/webdriver/common/log.py
  py/test/selenium/webdriver/common/bidi_tests.py
Labels: C-py

#13259 [bidi][java] Add support for Input module (Actions)
  java/src/org/openqa/selenium/bidi/Input.java
  java/src/org/openqa/selenium/interactions/Actions.java
  java/test/org/openqa/selenium/bidi/input/BUILD.bazel
  java/test/org/openqa/selenium/bidi/input/CombinedInputActionsTest.java
  java/test/org/openqa/selenium/bidi/input/DefaultKeyboardTest.java
  java/test/org/openqa/selenium/bidi/input/DefaultMouseTest.java
  java/test/org/openqa/selenium/bidi/input/DefaultWheelTest.java
  java/test/org/openqa/selenium/bidi/input/DragAndDropTest.java
Labels: C-java, C-devtools

#13153 [bidi][js] Add script message event
  javascript/node/selenium-webdriver/bidi/protocolType.js
  javascript/node/selenium-webdriver/bidi/protocolValue.js
  javascript/node/selenium-webdriver/bidi/realmInfo.js
  javascript/node/selenium-webdriver/bidi/scriptManager.js
  javascript/node/selenium-webdriver/bidi/scriptTypes.js
  javascript/node/selenium-webdriver/test/bidi/bidi_test.js
Labels: C-nodejs, C-devtools

#13309 Add Duration overload to SlowLoadableComponent constructor
  java/src/org/openqa/selenium/support/ui/SlowLoadableComponent.java
Labels: C-java, support

#13335 Refactoring to check for emptiness
  java/src/org/openqa/selenium/By.java
  java/src/org/openqa/selenium/devtools/CdpClientGenerator.java
  java/src/org/openqa/selenium/docker/Device.java
  java/src/org/openqa/selenium/docker/v1_41/CreateContainer.java
  java/src/org/openqa/selenium/grid/TemplateGridCommand.java
  java/src/org/openqa/selenium/grid/config/AnnotatedConfig.java
  java/src/org/openqa/selenium/grid/node/config/NodeOptions.java
  java/src/org/openqa/selenium/remote/TracedCommandExecutor.java
  java/src/org/openqa/selenium/remote/codec/w3c/W3CHttpCommandCodec.java
  java/src/org/openqa/selenium/support/pagefactory/AjaxElementLocator.java
  java/src/org/openqa/selenium/support/ui/ExpectedConditions.java
  java/test/org/openqa/selenium/chrome/ChromeDriverFunctionalTest.java
  java/test/org/openqa/selenium/edge/EdgeDriverFunctionalTest.java
  java/test/org/openqa/selenium/grid/distributor/DistributorDrainingTest.java
Labels: C-java

#13356 [build] update script for change logs
  Rakefile
Labels: A-needs decision, C-build
