Repository SeleniumHQ/selenium, pull requests merged in 2023-11, with the labels that each got.

#13057 [rust] Fix conditions to check edge in cache
  rust/src/lib.rs
Labels: C-rust

#12979 [java] implement file downloads
  java/src/org/openqa/selenium/HasDownloads.java
  java/src/org/openqa/selenium/remote/AbstractDriverOptions.java
  java/src/org/openqa/selenium/remote/CapabilityType.java
  java/src/org/openqa/selenium/remote/DriverCommand.java
  java/src/org/openqa/selenium/remote/RemoteWebDriver.java
  java/src/org/openqa/selenium/remote/codec/AbstractHttpCommandCodec.java
  java/test/org/openqa/selenium/chrome/ChromeOptionsTest.java
  java/test/org/openqa/selenium/grid/router/RemoteWebDriverDownloadTest.java
Labels: C-java

#13023 [py] implement file downloads
  py/conftest.py
  py/selenium/webdriver/common/options.py
  py/selenium/webdriver/remote/command.py
  py/selenium/webdriver/remote/remote_connection.py
  py/selenium/webdriver/remote/webdriver.py
  py/test/selenium/webdriver/remote/remote_downloads_tests.py
Labels: C-py

#12981 [dotnet] implement file downloads
  dotnet/src/webdriver/CapabilityType.cs
  dotnet/src/webdriver/DriverCommand.cs
  dotnet/src/webdriver/DriverOptions.cs
  dotnet/src/webdriver/IHasDownloads.cs
  dotnet/src/webdriver/Remote/RemoteWebDriver.cs
  dotnet/src/webdriver/Remote/W3CWireProtocolCommandInfoRepository.cs
  dotnet/test/common/DownloadsTest.cs
  dotnet/test/common/Environment/RemoteSeleniumServer.cs
Labels: C-dotnet

#12508 Allow external uri to be configurable for components that support server functionality - #12491
  java/src/org/openqa/selenium/grid/server/BaseServerFlags.java
  java/src/org/openqa/selenium/grid/server/BaseServerOptions.java
  java/test/org/openqa/selenium/grid/server/BaseServerOptionsTest.java
Labels: C-grid, C-java

#13098 Fix logging levels in http.js and webdriver.js
  javascript/node/selenium-webdriver/devtools/CDPConnection.js
  javascript/node/selenium-webdriver/lib/http.js
  javascript/node/selenium-webdriver/lib/webdriver.js
Labels: C-nodejs

#13120 Fixed typos
  cpp/iedriver/BrowserFactory.cpp
Labels: D-IE

#13108 py: fix WebDriverWait type hints for WebElement
  py/selenium/webdriver/support/expected_conditions.py
  py/selenium/webdriver/support/wait.py
Labels: C-py

#13090 delete 'lock' file in FF profile
  rb/lib/selenium/webdriver/firefox/profile.rb
Labels: C-rb, D-firefox

#13134 [ci] Use stable-i686-pc-windows-msvc target for release SM binary in Windows
  .github/workflows/build-selenium-manager.yml
Labels: C-build, C-rust

#13133 [rust] Use online mapping to discover proper geckodriver version (#11671)
  rust/src/firefox.rs
  rust/tests/browser_tests.rs
Labels: C-rust

#12978 [grid] keep HttpClient alive until unused #12558
  java/src/org/openqa/selenium/grid/router/HandleSession.java
  java/src/org/openqa/selenium/grid/router/ProxyWebsocketsIntoGrid.java
  java/src/org/openqa/selenium/grid/sessionmap/GetSessionUri.java
Labels: C-grid

#13143 [FEATURE] Implement Safe Casting in getPermissions Method
  java/src/org/openqa/selenium/safari/AddHasPermissions.java
Labels: C-java

#13113 [java] fix null request in case of chunked request
  java/src/org/openqa/selenium/netty/server/RequestConverter.java
Labels: C-java

#13142 Set a name for thread started to forward output of external processes
  java/src/org/openqa/selenium/os/ExternalProcess.java
Labels: C-java

#13159 [rust] Use drivers found in PATH only when browser version is not specified
  rust/src/lib.rs
Labels: C-rust

#13175 [dotnet] Added TargetAttached datastructure to DevTools Target.
  dotnet/src/webdriver/DevTools/Target.cs
  dotnet/src/webdriver/DevTools/TargetAttachedEventArgs.cs
  dotnet/src/webdriver/DevTools/v117/V117Target.cs
  dotnet/src/webdriver/DevTools/v118/V118Target.cs
  dotnet/src/webdriver/DevTools/v119/V119Target.cs
  dotnet/src/webdriver/DevTools/v85/V85Target.cs
Labels: C-dotnet

#13151 Close trio memory channel sender after the driver is quit
  py/selenium/webdriver/common/bidi/cdp.py
  py/selenium/webdriver/remote/webelement.py
Labels: C-py

#13101 [rust] Panic if JSON output is used but no entries are collected
  rust/src/logger.rs
Labels: C-rust

#13192 [rb] Extend RBS support for logger and log entry
  rb/Steepfile
  rb/lib/selenium/webdriver/common/logger.rb
  rb/sig/lib/selenium/webdriver/common/log_entry.rbs
  rb/sig/lib/selenium/webdriver/common/logger.rbs
Labels: C-rb
