Repository SeleniumHQ/selenium, pull requests merged in 2023-02, with the labels that each got.

#11601 [java] [cdp] Simplify Augmentation for Basic Auth
  java/src/org/openqa/selenium/remote/AddHasAuthentication.java
  java/src/org/openqa/selenium/remote/Augmenter.java
Labels: C-java, C-devtools

#11584 [js] Add script pinning
  javascript/node/selenium-webdriver/devtools/CDPConnection.js
  javascript/node/selenium-webdriver/lib/pinnedScript.js
  javascript/node/selenium-webdriver/lib/webdriver.js
  javascript/node/selenium-webdriver/test/chrome/devtools_test.js
Labels: C-nodejs, C-devtools

#11508 [ruby][bidi] Add filtering capability to LogInspector
  rb/.rubocop.yml
  rb/lib/selenium/webdriver/bidi/log/filter_by.rb
  rb/lib/selenium/webdriver/bidi/log_inspector.rb
  rb/spec/integration/selenium/webdriver/bidi/log_inspector_spec.rb
Labels: C-rb, C-devtools

#11504 [JS] [atoms] Use .textContent instead of .innerHTML in clear() action
  javascript/atoms/action.js
  javascript/atoms/test/action_test.html
  javascript/atoms/test/testdata/trusted_types_iframe.html
Labels: D-atoms

#11609 [rust] Include support for Safari in Selenium Manager
  rust/src/lib.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/safari_tests.rs
Labels: C-rust

#11491 [java] implement DriverFinder completely independent of Service classes
  java/src/org/openqa/selenium/chrome/BUILD.bazel
  java/src/org/openqa/selenium/chrome/ChromeDriver.java
  java/src/org/openqa/selenium/chrome/ChromeDriverInfo.java
  java/src/org/openqa/selenium/chrome/ChromeDriverService.java
  java/src/org/openqa/selenium/edge/BUILD.bazel
  java/src/org/openqa/selenium/edge/EdgeDriver.java
  java/src/org/openqa/selenium/edge/EdgeDriverInfo.java
  java/src/org/openqa/selenium/edge/EdgeDriverService.java
  java/src/org/openqa/selenium/firefox/BUILD.bazel
  java/src/org/openqa/selenium/firefox/FirefoxDriver.java
  java/src/org/openqa/selenium/firefox/FirefoxDriverService.java
  java/src/org/openqa/selenium/firefox/GeckoDriverInfo.java
  java/src/org/openqa/selenium/firefox/GeckoDriverService.java
  java/src/org/openqa/selenium/ie/BUILD.bazel
  java/src/org/openqa/selenium/ie/InternetExplorerDriver.java
  java/src/org/openqa/selenium/ie/InternetExplorerDriverInfo.java
  java/src/org/openqa/selenium/ie/InternetExplorerDriverService.java
  java/src/org/openqa/selenium/manager/SeleniumManager.java
  java/src/org/openqa/selenium/remote/service/DriverFinder.java
  java/src/org/openqa/selenium/remote/service/DriverService.java
  java/src/org/openqa/selenium/remote/service/DriverServiceInfo.java
  java/src/org/openqa/selenium/safari/SafariDriver.java
  java/src/org/openqa/selenium/safari/SafariDriverInfo.java
  java/src/org/openqa/selenium/safari/SafariDriverService.java
  java/src/org/openqa/selenium/safari/SafariTechPreviewDriverInfo.java
  java/src/org/openqa/selenium/safari/SafariTechPreviewDriverService.java
  java/test/org/openqa/selenium/chrome/ChromeDriverServiceTest.java
  java/test/org/openqa/selenium/edge/EdgeDriverServiceTest.java
  java/test/org/openqa/selenium/firefox/GeckoDriverServiceTest.java
  java/test/org/openqa/selenium/ie/InternetExplorerDriverServiceTest.java
  java/test/org/openqa/selenium/safari/SafariDriverServiceTest.java
  java/test/org/openqa/selenium/safari/SafariTechPreviewDriverServiceTest.java
Labels: I-enhancement
