Repository SeleniumHQ/selenium, pull requests merged in 2023-06, with the labels that each got.

#11290 improve "near" relative locator behaviour
  common/src/web/relative_locators.html
  java/src/org/openqa/selenium/support/locators/RelativeLocator.java
  java/test/org/openqa/selenium/support/locators/RelativeLocatorTest.java
  javascript/atoms/locators/relative.js
  py/test/selenium/webdriver/support/relative_by_tests.py
Labels: D-atoms

#12190 [py] mapped all error codes in `errorhandler.py` to corresponding exception object.
  py/selenium/webdriver/remote/errorhandler.py
Labels: C-py

#12208 [rust] Use CfT endpoints to discover chromedriver 115+
  rust/src/chrome.rs
  rust/src/downloads.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/mirror.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/cli_tests.rs
Labels: C-rust
