Repository SeleniumHQ/selenium, pull requests merged in 2023-10, with the labels that each got.

#12877 [rust] Avoids resolving symbolic links and consider the cache might not be writable
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/metadata.rs
  rust/tests/common.rs
Labels: C-rust

#12853 [java] ensure proper error message gets logged
  java/src/org/openqa/selenium/remote/http/WebSocket.java
Labels: C-java

#12874 [java] Allowing setting SSL context in client config for HttpClient
  java/src/org/openqa/selenium/remote/http/ClientConfig.java
  java/src/org/openqa/selenium/remote/http/jdk/JdkHttpClient.java
  java/test/org/openqa/selenium/grid/router/ProxyWebsocketTest.java
Labels: C-java

#12880 [java] improve warning when CDP version not found
  java/src/org/openqa/selenium/devtools/CdpVersionFinder.java
Labels: C-java

#12838 [java] Ensure retry mechanism does not swallow an exception
  java/src/org/openqa/selenium/remote/http/RetryRequest.java
  java/test/org/openqa/selenium/remote/http/RetryRequestTest.java
Labels: C-java

#12843 Require Java 11
  .bazelrc
  .github/workflows/ci-ruby.yml
  java/maven_deps.bzl
  java/maven_install.json
  java/spotbugs-excludes.xml
  java/src/org/openqa/selenium/chrome/ChromeDriverInfo.java
  java/src/org/openqa/selenium/chromium/ChromiumOptions.java
  java/src/org/openqa/selenium/edge/EdgeDriverInfo.java
  java/src/org/openqa/selenium/grid/BUILD.bazel
  java/src/org/openqa/selenium/remote/BUILD.bazel
  java/src/org/openqa/selenium/remote/http/HttpClient.java
  java/src/org/openqa/selenium/remote/http/jdk/BUILD.bazel
  java/src/org/openqa/selenium/remote/http/netty/BUILD.bazel
  java/src/org/openqa/selenium/remote/http/netty/NettyClient.java
  java/src/org/openqa/selenium/remote/http/netty/NettyHttpHandler.java
  java/src/org/openqa/selenium/remote/http/netty/NettyMessages.java
  java/src/org/openqa/selenium/remote/http/netty/NettyWebSocket.java
  java/test/org/openqa/selenium/chrome/ChromeOptionsTest.java
  java/test/org/openqa/selenium/devtools/DevToolsReuseTest.java
  java/test/org/openqa/selenium/remote/http/BUILD.bazel
  java/test/org/openqa/selenium/remote/http/HttpClientFactoryTest.java
  java/test/org/openqa/selenium/remote/http/RetryRequestTest.java
  java/test/org/openqa/selenium/remote/http/netty/BUILD.bazel
  java/test/org/openqa/selenium/remote/http/netty/NettyClientTest.java
  java/test/org/openqa/selenium/remote/http/netty/NettyDomainSocketTest.java
  java/test/org/openqa/selenium/remote/http/netty/NettyWebSocketTest.java
Labels: C-java

#12866 [java] reduce log noise at FINE level
  java/src/org/openqa/selenium/remote/RemoteWebDriver.java
  java/src/org/openqa/selenium/remote/codec/w3c/W3CHttpResponseCodec.java
  java/src/org/openqa/selenium/remote/http/DumpHttpExchangeFilter.java
Labels: C-java

#12716 [java] Use new 'getArray' method to extract driver configurations
  java/src/org/openqa/selenium/grid/node/config/NodeOptions.java
Labels: C-java

#12890 [rust] Support for Chromium (#12511)
  rust/src/chrome.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
Labels: C-rust

#12835 [rust] Automated Edge management (#11681 and #11683)
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/chrome.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/browser_download_tests.rs
Labels: C-rust

#12852 [rust] Capture Rust backtrace in case of error (displayed at DEBUG level)
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/downloads.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/src/shell.rs
  rust/tests/browser_tests.rs
  rust/tests/common.rs
  rust/tests/grid_tests.rs
  rust/tests/proxy_tests.rs
Labels: C-rust

#12904 [rust] Include webview2 in Edge module
  rust/src/edge.rs
  rust/src/lib.rs
  rust/tests/browser_tests.rs
Labels: C-rust

#12914 [rust] Include mirror arguments to change default online repository URLs (#11687)
  rust/Cargo.Bazel.lock
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/tests/mirror_tests.rs
Labels: C-rust

#12946 [rust] Support for automatic management of Firefox ESR
  rust/src/firefox.rs
  rust/src/lib.rs
  rust/tests/browser_download_tests.rs
Labels: C-rust

#12940 [java] Allow setting proxy for all http client instances
  java/src/org/openqa/selenium/remote/http/jdk/JdkHttpClient.java
Labels: C-java

#12510 [JS][bidi] added captureScreenshot command
  javascript/node/selenium-webdriver/bidi/browsingContext.js
  javascript/node/selenium-webdriver/test/bidi/bidi_test.js
Labels: C-nodejs, C-devtools

#12903 Update Actions.java as removed modifier keys
  java/src/org/openqa/selenium/interactions/Actions.java
Labels: C-java

#12539 [java] Copy SM binary to cache folder and use it from there (#11359)
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java

#12966 [rust] Fix webview2 support
  rust/src/edge.rs
  rust/src/lib.rs
  rust/tests/browser_tests.rs
Labels: C-rust

#12974 [rust] Include checkbox in SM workflow to generate binaries with debug symbols
  .github/workflows/build-selenium-manager.yml
  rust/Cargo.Bazel.lock
  rust/Cargo.toml
Labels: C-rust

#13028 [rust] Bump all crates to the last versions
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
Labels: C-rust

#13025 [grid] add value key to downloadFile response per w3c convention
  java/src/org/openqa/selenium/grid/node/local/LocalNode.java
Labels: C-grid

#13024 [grid] fix bug in downloading files by ensuring browser vendor option…
  java/src/org/openqa/selenium/grid/node/local/LocalNode.java
Labels: C-grid

#12502 [grid] no need for CDP version dependencies in the server
  java/src/org/openqa/selenium/grid/BUILD.bazel
Labels: C-java, C-devtools
