Repository SeleniumHQ/selenium, pull requests merged in 2023-09, with the labels that each got.

#12673 [java] Selenium Manager don't log file paths by default
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java

#12690 [rust] Avoid using robocopy to move extracted files from sfx in windows
  rust/src/files.rs
  rust/src/lib.rs
Labels: C-rust

#12753 [rust] Search better driver possible in the cache
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/main.rs
  rust/tests/browser_tests.rs
  rust/tests/common.rs
  rust/tests/grid_tests.rs
  rust/tests/proxy_tests.rs
Labels: C-rust

#12699 [rust] Use original path when unwrap fails in canonicalize function
  rust/src/lib.rs
Labels: C-rust

#12768 [rust] Bump Selenium Manager version to 0.4.13
  rust/BUILD.bazel
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
Labels: C-rust

#12807 [rust] Fix config setup in Selenium Manager
  rust/Cargo.Bazel.lock
  rust/src/config.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/tests/config_tests.rs
Labels: C-rust

#12817 Restore required version of Newtonsoft to 13.0.1
  dotnet/src/webdriver/WebDriver.StrongNamed.nuspec
  dotnet/src/webdriver/WebDriver.csproj
  dotnet/src/webdriver/WebDriver.nuspec
  dotnet/workspace.bzl
  third_party/dotnet/nuget/packages/newtonsoft.json.11.0.1.nupkg
  third_party/dotnet/nuget/packages/newtonsoft.json.13.0.1.nupkg
Labels: C-dotnet

#12840 [java] Delete SM binary only when SE_MANAGER_PATH is not set
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java
