Repository SeleniumHQ/selenium, pull requests merged in 2023-04, with the labels that each got.

#11810 [rust] Support different ways to configure Selenium Manager (config file, envs)
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/proxy_tests.rs
Labels: C-rust

#11788 [rust] Build selenium-manager for win32 (compatible when executed in win64)
  .github/workflows/build-selenium-manager.yml
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/lib.rs
  rust/src/metadata.rs
Labels: C-build, C-rust

#11882 [rust] Remove short flags in selenium-manager
  rust/README.md
  rust/src/main.rs
Labels: C-rust

#11865 [rust] Now the logger accepts any kind of type that can be converted to string
  rust/src/chrome.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/logger.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
Labels: C-rust

#11852 Use Bazel for running Rust tests
  .github/workflows/ci-rust.yml
  README.md
  rust/BUILD.bazel
  rust/tests/cli_tests.rs
  rust/tests/iexplorer_tests.rs
  rust/tests/output_tests.rs
  rust/tests/proxy_tests.rs
  rust/tests/safari_tests.rs
  rust/tests/timeout_tests.rs
Labels: rust

#11876 Throw a descriptive exception if the current dev tools version is not…
  dotnet/src/webdriver/DevTools/DevToolsDomains.cs
Labels: C-dotnet

#11873 [js] Replace `execSync` with `spawnSync` in `seleniumManager.js` (#11649)
  javascript/node/selenium-webdriver/common/seleniumManager.js
Labels: C-nodejs

#11922 [java] log exception message
  java/src/org/openqa/selenium/remote/RemoteWebDriver.java
Labels: C-java

#11939 [rust] Selenium Manager detects ARM architecture on Windows
  rust/src/config.rs
Labels: C-rust

#11964 [rb] allow users to direct driver process output
  rb/lib/selenium/webdriver/common/service.rb
  rb/lib/selenium/webdriver/common/service_manager.rb
  rb/spec/unit/selenium/webdriver/chrome/service_spec.rb
Labels: C-rb
