Repository SeleniumHQ/selenium, pull requests merged in 2023-08, with the labels that each got.

#12460 [rust] Display warning message due to driver in PATH only if major is different
  rust/src/lib.rs
Labels: C-rust

#12455 Build universal macOS Selenium-Manager on CI
  .github/workflows/build-selenium-manager.yml
Labels: A-needs decision

#12477 fixing #12469 - incompatible types error in mypy
  py/selenium/webdriver/common/action_chains.py
Labels: C-py

#12489 [rust] Implement browser path discovery in IExplorer
  rust/src/iexplorer.rs
Labels: C-rust

#12485 [rust] Change default type (arch, os) for binaries downloaded by Selenium Manager (#11685)
  rust/README.md
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
Labels: C-rust

#12514 [rust] Allow to change default folder for Selenium Manager cache (#11688)
  rust/README.md
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/metadata.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/cache_tests.rs
  rust/tests/common.rs
Labels: C-rust

#12464 [py] fixed Enum issue in ie/options
  py/selenium/webdriver/ie/options.py
Labels: C-py

#12526 [rust] Unify browser_ttl and driver_ttl in a single config key
  rust/README.md
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
Labels: C-rust

#12551 [rust] Change SM version to 0.4.12
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
Labels: C-rust

#12536 fix for conda install of selenium-manager
  py/selenium/webdriver/common/selenium_manager.py
Labels: C-py

#12523 [py] Update timeouts.py docstrings
  py/selenium/webdriver/common/timeouts.py
Labels: C-py

#12550 [rust] Rename configuration file to se-config.toml
  rust/src/config.rs
Labels: C-rust

#12531 [rust] Rename metadata file to selenium-manager-metadata.json
  rust/src/metadata.rs
Labels: C-rust

#12444 Add explicit delimiters to node configs list
  java/src/org/openqa/selenium/grid/config/Config.java
  java/src/org/openqa/selenium/grid/node/config/NodeOptions.java
  java/test/org/openqa/selenium/grid/config/JsonConfigTest.java
  java/test/org/openqa/selenium/grid/config/MapConfigTest.java
  java/test/org/openqa/selenium/grid/config/TomlConfigTest.java
Labels: C-grid, C-java

#12582 [rust] Automated Firefox management (#11680 and #11682)
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.md
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/downloads.rs
  rust/src/edge.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/browser_download_tests.rs
  rust/tests/browser_tests.rs
Labels: C-rust

#12601 [rust] Bump crates to the latest versions and update lock files
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
Labels: C-rust

#12534 [dotnet] options do not belong in the service class
  dotnet/src/webdriver/Chrome/ChromeDriver.cs
  dotnet/src/webdriver/Chrome/ChromeDriverService.cs
  dotnet/src/webdriver/Chromium/ChromiumDriver.cs
  dotnet/src/webdriver/DriverService.cs
  dotnet/src/webdriver/Edge/EdgeDriver.cs
  dotnet/src/webdriver/Edge/EdgeDriverService.cs
  dotnet/src/webdriver/Firefox/FirefoxDriver.cs
  dotnet/src/webdriver/Firefox/FirefoxDriverService.cs
  dotnet/src/webdriver/IE/InternetExplorerDriver.cs
  dotnet/src/webdriver/IE/InternetExplorerDriverService.cs
  dotnet/src/webdriver/Safari/SafariDriver.cs
  dotnet/src/webdriver/Safari/SafariDriverService.cs
  dotnet/test/common/CustomDriverConfigs/DefaultSafariDriver.cs
  dotnet/test/common/CustomDriverConfigs/DevChannelChromeDriver.cs
  dotnet/test/common/CustomDriverConfigs/DevChannelEdgeDriver.cs
  dotnet/test/common/CustomDriverConfigs/EdgeInternetExplorerModeDriver.cs
  dotnet/test/common/CustomDriverConfigs/NightlyChannelFirefoxDriver.cs
  dotnet/test/common/CustomDriverConfigs/SafariTechnologyPreviewDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelChromeDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelEdgeDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelFirefoxDriver.cs
  dotnet/test/common/DriverTestFixture.cs
  dotnet/test/common/Environment/DriverFactory.cs
  dotnet/test/common/Environment/DriverStartingEventArgs.cs
  dotnet/test/common/Environment/EnvironmentManager.cs
  dotnet/test/common/Environment/RemoteSeleniumServer.cs
Labels: C-dotnet

#12400 Drop py37 support
  .github/workflows/ci-python.yml
  py/BUILD.bazel
  py/CHANGES
  py/docs/source/index.rst
  py/selenium/common/exceptions.py
  py/selenium/types.py
  py/selenium/webdriver/chromium/options.py
  py/selenium/webdriver/chromium/webdriver.py
  py/selenium/webdriver/common/action_chains.py
  py/selenium/webdriver/common/actions/key_actions.py
  py/selenium/webdriver/common/alert.py
  py/selenium/webdriver/common/by.py
  py/selenium/webdriver/common/desired_capabilities.py
  py/selenium/webdriver/common/html5/application_cache.py
  py/selenium/webdriver/common/keys.py
  py/selenium/webdriver/common/options.py
  py/selenium/webdriver/common/print_page_options.py
  py/selenium/webdriver/common/proxy.py
  py/selenium/webdriver/common/selenium_manager.py
  py/selenium/webdriver/common/timeouts.py
  py/selenium/webdriver/common/utils.py
  py/selenium/webdriver/common/window.py
  py/selenium/webdriver/edge/options.py
  py/selenium/webdriver/firefox/firefox_profile.py
  py/selenium/webdriver/firefox/options.py
  py/selenium/webdriver/ie/options.py
  py/selenium/webdriver/remote/mobile.py
  py/selenium/webdriver/remote/remote_connection.py
  py/selenium/webdriver/remote/webdriver.py
  py/selenium/webdriver/remote/webelement.py
  py/selenium/webdriver/safari/permissions.py
  py/selenium/webdriver/support/color.py
  py/selenium/webdriver/support/expected_conditions.py
  py/selenium/webdriver/support/relative_locator.py
  py/selenium/webdriver/webkitgtk/options.py
  py/test/selenium/webdriver/chrome/chrome_service_tests.py
  py/test/selenium/webdriver/firefox/firefox_service_tests.py
  py/tox.ini
Labels: C-py

#12623 [rust] Simplify SM readme
  rust/README.md
Labels: C-rust

#12631 [java] Increase execution timeout of SM in Java from 10 to 120 seconds
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java

#12639 [java] Remove browserVersion from options in SM Java wrapper (fix #12633)
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java
