Repository SeleniumHQ/selenium, pull requests merged in 2023-07, with the labels that each got.

#12291 [rust] Update PATH processing mechanism by Selenium Manager
  rust/src/lib.rs
  rust/tests/cli_tests.rs
  rust/tests/proxy_tests.rs
Labels: C-rust

#11513 [dotnet] Allow setting a different pointer, keyboard, or wheel on input device
  common/src/web/login.html
  dotnet/src/webdriver/Interactions/ActionSequence.cs
  dotnet/src/webdriver/Interactions/Actions.cs
  dotnet/test/common/DriverTestFixture.cs
  dotnet/test/common/Interactions/BasicKeyboardInterfaceTest.cs
  dotnet/test/common/Interactions/BasicMouseInterfaceTest.cs
  dotnet/test/common/Interactions/BasicWheelInterfaceTest.cs
  dotnet/test/common/Interactions/CombinedInputActionsTest.cs
Labels: C-dotnet

#11509 [java] [dotnet] Add move to location method to Actions
  dotnet/src/webdriver/Interactions/Actions.cs
  dotnet/test/common/DriverTestFixture.cs
  dotnet/test/common/Interactions/BasicMouseInterfaceTest.cs
  java/src/org/openqa/selenium/interactions/Actions.java
  java/test/org/openqa/selenium/interactions/DefaultMouseTest.java
Labels: C-dotnet, C-java

#12342 [dotnet] add support for Safari Technology Preview
  dotnet/src/webdriver/Safari/SafariDriverService.cs
  dotnet/src/webdriver/Safari/SafariOptions.cs
  dotnet/test/common/CustomDriverConfigs/SafariTechnologyPreviewDriver.cs
Labels: C-dotnet

#12343 [dotnet] remove hard coded service parameters from test environment
  dotnet/test/common/AlertsTest.cs
  dotnet/test/common/AvailableLogsTest.cs
  dotnet/test/common/CustomDriverConfigs/DefaultSafariDriver.cs
  dotnet/test/common/CustomDriverConfigs/DevChannelChromeDriver.cs
  dotnet/test/common/CustomDriverConfigs/DevChannelEdgeDriver.cs
  dotnet/test/common/CustomDriverConfigs/EdgeInternetExplorerModeDriver.cs
  dotnet/test/common/CustomDriverConfigs/NightlyChannelFirefoxDriver.cs
  dotnet/test/common/CustomDriverConfigs/SafariTechnologyPreviewDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelChromeDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelEdgeDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelFirefoxDriver.cs
  dotnet/test/common/CustomDriverConfigs/StableChannelRemoteChromeDriver.cs
  dotnet/test/common/CustomDriverConfigs/WindowFocusInternetExplorerDriver.cs
  dotnet/test/common/Environment/DriverFactory.cs
  dotnet/test/common/Environment/DriverStartingEventArgs.cs
  dotnet/test/common/Environment/EnvironmentManager.cs
  dotnet/test/common/Environment/RemoteSeleniumServer.cs
  dotnet/test/common/Environment/TestEnvironment.cs
  dotnet/test/common/GetLogsTest.cs
  dotnet/test/common/PageLoadingTest.cs
  dotnet/test/common/appconfig.json
Labels: C-dotnet

#12356 [py] use Selenium Manager to locate drivers on PATH
  py/selenium/webdriver/chrome/service.py
  py/selenium/webdriver/chrome/webdriver.py
  py/selenium/webdriver/chromium/service.py
  py/selenium/webdriver/chromium/webdriver.py
  py/selenium/webdriver/common/driver_finder.py
  py/selenium/webdriver/common/service.py
  py/selenium/webdriver/edge/service.py
  py/selenium/webdriver/edge/webdriver.py
  py/selenium/webdriver/firefox/service.py
  py/selenium/webdriver/firefox/webdriver.py
  py/selenium/webdriver/ie/service.py
  py/selenium/webdriver/ie/webdriver.py
  py/selenium/webdriver/safari/service.py
  py/selenium/webdriver/safari/webdriver.py
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: C-py

#12345 [rb] have Selenium Manager binary locate drivers on PATH
  rb/lib/selenium/webdriver/common/driver_finder.rb
  rb/lib/selenium/webdriver/common/platform.rb
  rb/lib/selenium/webdriver/remote/server_error.rb
  rb/spec/integration/selenium/server_spec.rb
  rb/spec/integration/selenium/webdriver/chrome/service_spec.rb
  rb/spec/integration/selenium/webdriver/edge/service_spec.rb
  rb/spec/integration/selenium/webdriver/firefox/service_spec.rb
  rb/spec/unit/selenium/webdriver/chrome/service_spec.rb
  rb/spec/unit/selenium/webdriver/common/driver_finder_spec.rb
  rb/spec/unit/selenium/webdriver/common/service_spec.rb
  rb/spec/unit/selenium/webdriver/edge/service_spec.rb
  rb/spec/unit/selenium/webdriver/firefox/service_spec.rb
  rb/spec/unit/selenium/webdriver/ie/service_spec.rb
  rb/spec/unit/selenium/webdriver/safari/driver_spec.rb
  rb/spec/unit/selenium/webdriver/safari/service_spec.rb
Labels: C-rb

#12304 [rust] Use escaped browser path (required by wmic commands) in Selenium Manager
  rust/README.md
  rust/src/chrome.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/tests/cli_tests.rs
Labels: C-rust

#12373 [rust] Offline mode in Selenium Manager (#11639)
  rust/README.md
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/edge.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/tests/offline_tests.rs
Labels: C-rust

#12352 [java] use Selenium Manager to locate drivers on PATH
  java/src/org/openqa/selenium/remote/service/DriverFinder.java
Labels: C-java

#12394 [rust] Change default TTL_drivers from 86400s (1 day) to 3600s (1 hour)
  rust/README.md
  rust/src/lib.rs
Labels: C-rust

#12395 [rust] Enhance warning message when incorrect driver in PATH is detected
  rust/src/lib.rs
Labels: C-rust

#11328 UnreachableBrowserException logs the command parameter details only in debug mode
  java/maven_deps.bzl
  java/maven_install.json
  java/src/org/openqa/selenium/internal/Debug.java
  java/src/org/openqa/selenium/remote/RemoteWebDriver.java
  java/test/org/openqa/selenium/remote/BUILD.bazel
  java/test/org/openqa/selenium/remote/RemoteWebDriverUnitTest.java
  java/test/org/openqa/selenium/remote/RemoteWebElementTest.java
Labels: C-java

#12213 [py] optimised `BaseOptions` in `common/options.py`
  py/selenium/webdriver/common/options.py
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: A-needs decision

#12398 [rb] add browser output from selenium manager to options
  rb/Gemfile.lock
  rb/lib/selenium/webdriver/common/selenium_manager.rb
  rb/spec/unit/selenium/webdriver/common/selenium_manager_spec.rb
Labels: C-rb

#12404 [py] add browser output from selenium manager to options
  py/selenium/webdriver/common/selenium_manager.py
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: C-py

#12405 [dotnet] add browser output from selenium manager to options
  dotnet/src/webdriver/Chromium/ChromiumOptions.cs
  dotnet/src/webdriver/DriverOptions.cs
  dotnet/src/webdriver/Firefox/FirefoxOptions.cs
  dotnet/src/webdriver/SeleniumManager.cs
  dotnet/test/common/DevTools/DevToolsConsoleTest.cs
  dotnet/test/common/DevTools/DevToolsLogTest.cs
  dotnet/test/common/DevTools/DevToolsNetworkTest.cs
  dotnet/test/common/DevTools/DevToolsPerformanceTest.cs
  dotnet/test/common/DevTools/DevToolsProfilerTest.cs
  dotnet/test/common/DevTools/DevToolsSecurityTest.cs
  dotnet/test/common/DevTools/DevToolsTargetTest.cs
Labels: C-dotnet

#12413 [rust] Canonicalize browser path found in PATH
  rust/src/lib.rs
Labels: C-rust

#12417 [rb] remove deprecated code
  rb/lib/selenium/webdriver/chrome/service.rb
  rb/lib/selenium/webdriver/chromium.rb
  rb/lib/selenium/webdriver/chromium/options.rb
  rb/lib/selenium/webdriver/chromium/service.rb
  rb/lib/selenium/webdriver/common/options.rb
  rb/lib/selenium/webdriver/common/service.rb
  rb/lib/selenium/webdriver/edge/service.rb
  rb/lib/selenium/webdriver/firefox/options.rb
  rb/lib/selenium/webdriver/firefox/service.rb
  rb/lib/selenium/webdriver/ie/service.rb
  rb/lib/selenium/webdriver/remote/capabilities.rb
  rb/spec/BUILD.bazel
  rb/spec/integration/selenium/webdriver/spec_support/test_environment.rb
  rb/spec/unit/selenium/webdriver/chrome/options_spec.rb
  rb/spec/unit/selenium/webdriver/chrome/service_spec.rb
  rb/spec/unit/selenium/webdriver/common/options_spec.rb
  rb/spec/unit/selenium/webdriver/edge/options_spec.rb
  rb/spec/unit/selenium/webdriver/edge/service_spec.rb
  rb/spec/unit/selenium/webdriver/firefox/options_spec.rb
  rb/spec/unit/selenium/webdriver/firefox/service_spec.rb
  rb/spec/unit/selenium/webdriver/ie/options_spec.rb
  rb/spec/unit/selenium/webdriver/ie/service_spec.rb
  rb/spec/unit/selenium/webdriver/remote/capabilities_spec.rb
Labels: C-rb

#12240 Make user defined SlotMatcher used everywhere in grid code
  java/src/org/openqa/selenium/chrome/ChromeOptions.java
  java/src/org/openqa/selenium/grid/commands/Hub.java
  java/src/org/openqa/selenium/grid/commands/Standalone.java
  java/src/org/openqa/selenium/grid/distributor/local/LocalDistributor.java
  java/src/org/openqa/selenium/grid/node/config/NodeOptions.java
  java/src/org/openqa/selenium/grid/node/docker/DockerOptions.java
  java/src/org/openqa/selenium/grid/node/docker/DockerSessionFactory.java
  java/src/org/openqa/selenium/grid/node/local/LocalNodeFactory.java
  java/test/org/openqa/selenium/chrome/ChromeOptionsTest.java
  java/test/org/openqa/selenium/grid/distributor/AddingNodesTest.java
  java/test/org/openqa/selenium/grid/distributor/DistributorDrainingTest.java
  java/test/org/openqa/selenium/grid/distributor/DistributorNodeAvailabilityTest.java
  java/test/org/openqa/selenium/grid/distributor/DistributorTest.java
  java/test/org/openqa/selenium/grid/distributor/SessionSchedulingTest.java
  java/test/org/openqa/selenium/grid/distributor/local/LocalDistributorTest.java
  java/test/org/openqa/selenium/grid/graphql/GraphqlHandlerTest.java
  java/test/org/openqa/selenium/grid/node/config/BUILD.bazel
  java/test/org/openqa/selenium/grid/node/config/NodeOptionsTest.java
  java/test/org/openqa/selenium/grid/node/data/BUILD.bazel
  java/test/org/openqa/selenium/grid/node/data/YesSlotMatcher.java
  java/test/org/openqa/selenium/grid/router/JmxTest.java
  java/test/org/openqa/selenium/grid/router/NewSessionCreationTest.java
  java/test/org/openqa/selenium/grid/router/RouterTest.java
  java/test/org/openqa/selenium/grid/router/SessionCleanUpTest.java
  java/test/org/openqa/selenium/grid/router/SessionQueueGridTest.java
Labels: C-grid

#12440 [py] fixed defect in docstrings
  py/selenium/webdriver/edge/webdriver.py
  py/selenium/webdriver/remote/webdriver.py
Labels: C-py

#12435 [py] Add creation flag for windows in selenium_manager
  py/selenium/webdriver/common/selenium_manager.py
Labels: C-py

#12443 [rust] Save discovered browser version (network request) in local metadata
  rust/src/chrome.rs
  rust/src/lib.rs
Labels: C-rust

#12434 [rust] Return complete safari and safaritp browser path
  rust/src/safari.rs
  rust/src/safaritp.rs
Labels: C-rust
