Repository SeleniumHQ/selenium, pull requests merged in 2023-05, with the labels that each got.

#11973 Make Driver Services consistent
  java/src/org/openqa/selenium/chrome/ChromeDriverService.java
  java/src/org/openqa/selenium/edge/EdgeDriverService.java
  java/src/org/openqa/selenium/firefox/FirefoxDriver.java
  java/src/org/openqa/selenium/firefox/GeckoDriverService.java
  java/src/org/openqa/selenium/ie/InternetExplorerDriverService.java
  java/src/org/openqa/selenium/remote/service/DriverService.java
  java/src/org/openqa/selenium/safari/SafariDriverService.java
  java/src/org/openqa/selenium/safari/SafariTechPreviewDriverService.java
  java/test/org/openqa/selenium/chrome/ChromeDriverServiceTest.java
  java/test/org/openqa/selenium/edge/EdgeDriverServiceTest.java
Labels: C-java

#11990 [py] update logging to match other bindings
  py/selenium/webdriver/common/selenium_manager.py
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: C-py

#12036 [java] support Selenium Manager using proxy info from options
  java/src/org/openqa/selenium/manager/SeleniumManager.java
Labels: C-java

#12058 [rust] Increase default timeout in Selenium Manager to 180 seconds
  rust/README.md
  rust/src/lib.rs
Labels: C-rust

#12014 Prevent grid from creating sessions that are about to timeout in queue (corrects issue #11881)
  java/src/org/openqa/selenium/grid/sessionqueue/local/LocalNewSessionQueue.java
  java/test/org/openqa/selenium/grid/sessionqueue/local/LocalNewSessionQueueTest.java
Labels: C-grid

#12029 [py] fix proxy options
  py/selenium/webdriver/common/options.py
  py/selenium/webdriver/common/proxy.py
  py/selenium/webdriver/firefox/options.py
  py/selenium/webdriver/remote/webdriver.py
  py/test/selenium/webdriver/common/proxy_tests.py
  py/test/unit/selenium/webdriver/common/common_options_tests.py
  py/test/unit/selenium/webdriver/firefox/firefox_options_tests.py
  py/test/unit/selenium/webdriver/remote/new_session_tests.py
Labels: C-py

#12032 [py] support Proxies with Selenium Manager
  py/selenium/webdriver/common/selenium_manager.py
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: C-py

#12100 [dotnet] have support proxies for Selenium Manager
  dotnet/src/webdriver/SeleniumManager.cs
Labels: C-dotnet
