Repository SeleniumHQ/selenium, pull requests merged in 2024-01, with the labels that each got.

#13372 [build] Remove features that are not w3c compliant
  java/src/org/openqa/selenium/chromium/ChromiumDriver.java
  java/src/org/openqa/selenium/html5/Location.java
  java/src/org/openqa/selenium/html5/LocationContext.java
  java/src/org/openqa/selenium/mobile/NetworkConnection.java
  java/src/org/openqa/selenium/remote/DriverCommand.java
  java/src/org/openqa/selenium/remote/HttpCommandExecutor.java
  java/src/org/openqa/selenium/remote/codec/AbstractHttpCommandCodec.java
  java/src/org/openqa/selenium/remote/html5/RemoteLocationContext.java
  java/src/org/openqa/selenium/remote/mobile/RemoteNetworkConnection.java
Labels: C-java

#13102 [js] download files from remote server
  javascript/node/selenium-webdriver/index.js
  javascript/node/selenium-webdriver/lib/capabilities.js
  javascript/node/selenium-webdriver/lib/command.js
  javascript/node/selenium-webdriver/lib/http.js
  javascript/node/selenium-webdriver/lib/webdriver.js
Labels: C-nodejs

#13408 [js] Organize BiDi test based on the module
  javascript/node/selenium-webdriver/test/bidi/bidi_session_test.js
  javascript/node/selenium-webdriver/test/bidi/bidi_test.js
  javascript/node/selenium-webdriver/test/bidi/browsingcontext_inspector_test.js
  javascript/node/selenium-webdriver/test/bidi/browsingcontext_test.js
  javascript/node/selenium-webdriver/test/bidi/local_value_test.js
  javascript/node/selenium-webdriver/test/bidi/log_inspector_test.js
  javascript/node/selenium-webdriver/test/bidi/network.js
  javascript/node/selenium-webdriver/test/bidi/script.js
Labels: C-nodejs

#12934 Code cleanup
  java/src/org/openqa/selenium/PageLoadStrategy.java
  java/src/org/openqa/selenium/UnexpectedAlertBehaviour.java
  java/src/org/openqa/selenium/devtools/CdpClientGenerator.java
  java/src/org/openqa/selenium/devtools/noop/NoOpDomains.java
  java/src/org/openqa/selenium/events/zeromq/UnboundZmqEventBus.java
  java/src/org/openqa/selenium/firefox/FirefoxBinary.java
  java/src/org/openqa/selenium/firefox/FirefoxCommandContext.java
  java/src/org/openqa/selenium/firefox/FirefoxDriver.java
  java/src/org/openqa/selenium/firefox/Preferences.java
  java/src/org/openqa/selenium/firefox/ProfilesIni.java
  java/src/org/openqa/selenium/ie/ElementScrollBehavior.java
  java/src/org/openqa/selenium/json/JsonInput.java
  java/src/org/openqa/selenium/logging/CompositeLocalLogs.java
  java/src/org/openqa/selenium/netty/server/MessageInboundConverter.java
  java/src/org/openqa/selenium/netty/server/SeleniumHttpInitializer.java
  java/src/org/openqa/selenium/os/OsProcess.java
  java/src/org/openqa/selenium/remote/ErrorHandler.java
  java/src/org/openqa/selenium/remote/http/Contents.java
  java/src/org/openqa/selenium/support/ByIdOrName.java
  java/src/org/openqa/selenium/support/pagefactory/ByAll.java
  java/src/org/openqa/selenium/support/pagefactory/ByChained.java
  java/src/org/openqa/selenium/support/ui/FluentWait.java
  java/test/org/openqa/selenium/grid/web/ReverseProxyHandlerTest.java
  java/test/org/openqa/selenium/json/JsonOutputTest.java
  java/test/org/openqa/selenium/json/JsonTest.java
  java/test/org/openqa/selenium/netty/server/SimpleHttpServer.java
  java/test/org/openqa/selenium/remote/ErrorCodecTest.java
  java/test/org/openqa/selenium/support/ui/SlowLoadableComponentTest.java
  java/test/org/openqa/selenium/testing/Safely.java
  java/test/org/openqa/selenium/testing/StaticResources.java
  java/test/org/openqa/selenium/testing/TestIgnorance.java
  java/test/org/openqa/selenium/testing/drivers/RemoteSupplier.java
  java/test/org/openqa/selenium/testing/drivers/TestInternetExplorerSupplier.java
Labels: C-java, I-cleanup

#13362 [bid] [java] Add BiDi Input module release command
  common/src/web/bidi/release_action.html
  java/src/org/openqa/selenium/bidi/Input.java
  java/test/org/openqa/selenium/bidi/input/CombinedInputActionsTest.java
  java/test/org/openqa/selenium/bidi/input/DefaultMouseTest.java
  java/test/org/openqa/selenium/bidi/input/ReleaseCommandTest.java
Labels: C-java, C-devtools

#13445 [bidi][java] Add locate nodes command
  java/src/org/openqa/selenium/bidi/browsingcontext/BrowsingContext.java
  java/src/org/openqa/selenium/bidi/browsingcontext/LocateNodeParameters.java
  java/src/org/openqa/selenium/bidi/browsingcontext/Locator.java
  java/src/org/openqa/selenium/bidi/script/RemoteValue.java
  java/test/org/openqa/selenium/bidi/browsingcontext/LocateNodesTest.java
Labels: C-java, C-devtools

#13457 [CI] Update logic for which tests get run
  .github/workflows/ci.yml
Labels: C-build

#13464 [dotnet] Improve logging performance when it is disabled
  dotnet/src/webdriver/DriverService.cs
  dotnet/src/webdriver/Internal/FileUtilities.cs
  dotnet/src/webdriver/Internal/Logging/ILogContext.cs
  dotnet/src/webdriver/Internal/Logging/ILogger.cs
  dotnet/src/webdriver/Internal/Logging/LogContext.cs
  dotnet/src/webdriver/Internal/Logging/Logger.cs
  dotnet/src/webdriver/Remote/HttpCommandExecutor.cs
  dotnet/src/webdriver/Safari/SafariDriverService.cs
  dotnet/src/webdriver/SeleniumManager.cs
Labels: C-dotnet

#13402 [py] add deprecation library requirement
  py/BUILD.bazel
  py/requirements.txt
  py/requirements_lock.txt
  py/setup.py
Labels: C-py

#13477 [py] Firefox Profile Fixes and Deprecations
  py/selenium/webdriver/firefox/firefox_profile.py
Labels: C-py

#13476 [py] deprecate FirefoxBinary class
  py/selenium/webdriver/firefox/firefox_binary.py
  py/selenium/webdriver/firefox/options.py
  py/test/unit/selenium/webdriver/firefox/firefox_options_tests.py
Labels: C-py

#13466 [build] create workflow to PR changes to browser versions
  .github/workflows/bazel.yml
  .github/workflows/pin-browsers.yml
Labels: C-build

#13210 [java] Add missing support events for Web Driver Listener
  java/src/org/openqa/selenium/support/events/EventFiringDecorator.java
  java/src/org/openqa/selenium/support/events/WebDriverListener.java
  java/test/org/openqa/selenium/support/events/EventFiringDecoratorTest.java
Labels: C-java

#13501 [bidi][java] Add network intercept commands
  java/src/org/openqa/selenium/bidi/Network.java
  java/src/org/openqa/selenium/bidi/network/AddInterceptParameters.java
  java/src/org/openqa/selenium/bidi/network/InterceptPhase.java
  java/src/org/openqa/selenium/bidi/network/UrlPattern.java
  java/test/org/openqa/selenium/bidi/network/AddInterceptParametersTest.java
  java/test/org/openqa/selenium/bidi/network/NetworkCommandsTest.java
Labels: C-java, C-devtools

#13513 [ci] Create pre-release workflow
  .github/workflows/ci-rust.yml
  .github/workflows/pre-release.yml
Labels: C-build

#13512 [build] move copyright from rake task to a bazel target
  Rakefile
  rake_tasks/copyright.rb
  scripts/BUILD.bazel
  scripts/format.sh
  scripts/update_copyright.py
Labels: C-build
