Repository SeleniumHQ/selenium, pull requests merged in 2024-02, with the labels that each got.

#13564 [bidi][js] Add "addintercept" and "removeintercept" commands
  javascript/node/selenium-webdriver/bidi/addInterceptParameters.js
  javascript/node/selenium-webdriver/bidi/interceptPhase.js
  javascript/node/selenium-webdriver/bidi/network.js
  javascript/node/selenium-webdriver/bidi/urlPattern.js
  javascript/node/selenium-webdriver/test/bidi/add_intercept_parameters_test.js
  javascript/node/selenium-webdriver/test/bidi/network_commands_test.js
Labels: C-nodejs, C-devtools

#13558 [java] Allow `null` input in `FluentWait`
  java/src/org/openqa/selenium/support/ui/FluentWait.java
Labels: C-java

#13559 [java] Add missing event handlers for `TargetLocator` interface
  java/src/org/openqa/selenium/support/events/WebDriverListener.java
  java/test/org/openqa/selenium/support/events/EventFiringDecoratorTest.java
Labels: C-java

#13554 [rust] Add timestamps to Selenium Manager logs
  rust/src/logger.rs
Labels: C-rust

#13555 [rust] Selenium Manager decrease frequency of statistics reporting
  rust/src/lib.rs
  rust/src/metadata.rs
  rust/src/stats.rs
Labels: C-rust

#13566 [rust] Selenium Manager log level
  rust/src/logger.rs
  rust/src/main.rs
Labels: C-rust
