Repository SeleniumHQ/selenium, pull requests merged in 2025-09, with the labels that each got.

#16275 [js] [atoms] Fixed text transformation issue with text-transform: capitalize
  javascript/atoms/dom.js
  javascript/atoms/test/text_test.html
Labels: B-atoms, Review effort 3/5

#16281 [py] Add test for Data URL in BiDi Network request handler
  common/src/web/data_url.html
  py/test/selenium/webdriver/common/bidi_network_tests.py
Labels: C-py, Review effort 2/5

#16271 [py] Remove redundant driver_instance from conftest.py
  py/conftest.py
Labels: C-py, Review effort 2/5

#16305 [dotnet][java][rb] Fix links to exception documentation on website
  dotnet/src/webdriver/InvalidSelectorException.cs
  dotnet/src/webdriver/NoSuchElementException.cs
  dotnet/src/webdriver/StaleElementReferenceException.cs
  java/src/org/openqa/selenium/InvalidSelectorException.java
  java/src/org/openqa/selenium/NoSuchElementException.java
  java/src/org/openqa/selenium/StaleElementReferenceException.java
  rb/lib/selenium/webdriver/common/error.rb
  rb/spec/integration/selenium/webdriver/driver_spec.rb
  rb/spec/integration/selenium/webdriver/element_spec.rb
  rb/spec/integration/selenium/webdriver/error_spec.rb
Labels: C-rb, C-dotnet, C-java, Review effort 2/5

#16212 [py] Add args to is_url_connectable
  py/selenium/webdriver/common/utils.py
Labels: C-py, Review effort 2/5

#16310 [dotnet] Fix link to exception documentation in test
  dotnet/test/common/RelativeLocatorTest.cs
Labels: C-dotnet, Review effort 1/5

#16289 [rb] Update `unhandled_prompt_behavior` capability to support hash syntax.
  rb/lib/selenium/webdriver/common/options.rb
  rb/spec/unit/selenium/webdriver/chrome/options_spec.rb
Labels: C-rb, Review effort 2/5

#16309 [py] Fix type annotations in the chromium webdriver file
  py/selenium/webdriver/chromium/webdriver.py
Labels: C-py, Review effort 2/5

#16327 [grid] Fix regression Distributor rejecting requests when nodes have supported caps but no free slots
  java/src/org/openqa/selenium/grid/distributor/NodeRegistry.java
  java/src/org/openqa/selenium/grid/distributor/local/LocalDistributor.java
  java/src/org/openqa/selenium/grid/distributor/local/LocalNodeRegistry.java
  java/test/org/openqa/selenium/grid/distributor/local/LocalDistributorTest.java
Labels: B-grid, C-java, Review effort 2/5

#16119 [rb] Remove fedcm test guard due to fix in chrome
  rb/spec/integration/selenium/webdriver/fedcm_spec.rb
Labels: R-awaiting external, C-rb, Review effort 1/5

#16028 [java] Feat 14291/add jspecify annotations to exception classes pt4
  java/src/org/openqa/selenium/devtools/BUILD.bazel
  java/src/org/openqa/selenium/devtools/RequestFailedException.java
  java/src/org/openqa/selenium/grid/sessionmap/jdbc/BUILD.bazel
  java/src/org/openqa/selenium/grid/sessionmap/jdbc/JdbcException.java
  java/src/org/openqa/selenium/remote/NoSuchDriverException.java
  java/src/org/openqa/selenium/remote/UnreachableBrowserException.java
  java/src/org/openqa/selenium/remote/http/BUILD.bazel
  java/src/org/openqa/selenium/remote/http/ConnectionFailedException.java
  java/src/org/openqa/selenium/safari/ConnectionClosedException.java
Labels: B-grid, C-java, B-devtools, Review effort 2/5

#16333 [dotnet] [bidi] Enable WebExtension tests at least for Firefox
  dotnet/test/common/BiDi/WebExtension/WebExtensionTest.cs
Labels: C-dotnet, Review effort 2/5

#16265 [dotnet] Suppress unwanted messages from browser via redirecting streams
  dotnet/src/webdriver/Chromium/ChromiumDriverService.cs
Labels: C-dotnet, Review effort 1/5

#16205 [dotnet] [bidi] Remove obsolete unsubscribing by attributes
  dotnet/src/webdriver/BiDi/Communication/Broker.cs
  dotnet/src/webdriver/BiDi/Communication/Json/BiDiJsonSerializerContext.cs
  dotnet/src/webdriver/BiDi/Session/SessionModule.cs
  dotnet/src/webdriver/BiDi/Session/UnsubscribeCommand.cs
Labels: C-dotnet, Review effort 2/5

#16337 [dotnet][rb][java][js][py] Automated Browser Version Update
  common/repositories.bzl
Labels: B-build, Review effort 2/5

#16346 [rust] Honor full browser version even if major version is installed (#15517)
  rust/src/lib.rs
Labels: C-rust, Review effort 2/5, B-manager

#16357 [rb] fix unit tests
  rb/Gemfile.lock
  rb/selenium-webdriver.gemspec
Labels: C-rb, Review effort 1/5

#16360 [dotnet] [bidi] Give only one chance to receive from remote end
  dotnet/src/webdriver/BiDi/Communication/Broker.cs
Labels: C-dotnet, Review effort 2/5
