Repository SeleniumHQ/selenium, pull requests merged in 2025-10, with the labels that each got.

#16366 [rust] Bump Rust edition to 2024, rulest_rust to 0.65.0, and crates to latest stable
  WORKSPACE
  rust/BUILD.bazel
  rust/Cargo.Bazel.lock
  rust/Cargo.lock
  rust/Cargo.toml
  rust/private/rustfmt_wrapper.bzl
  rust/src/chrome.rs
  rust/src/config.rs
  rust/src/downloads.rs
  rust/src/edge.rs
  rust/src/electron.rs
  rust/src/files.rs
  rust/src/firefox.rs
  rust/src/grid.rs
  rust/src/iexplorer.rs
  rust/src/lib.rs
  rust/src/lock.rs
  rust/src/logger.rs
  rust/src/main.rs
  rust/src/metadata.rs
  rust/src/safari.rs
  rust/src/safaritp.rs
  rust/src/stats.rs
  rust/tests/BUILD.bazel
  rust/tests/browser_download_tests.rs
  rust/tests/browser_tests.rs
  rust/tests/common.rs
  rust/tests/output_tests.rs
Labels: B-build, C-rust, Review effort 3/5, B-manager

#16368 [rust] Set Rust version to 1.89.0 in WORKSPACE
  WORKSPACE
  rust/Cargo.Bazel.lock
  rust/src/downloads.rs
  rust/src/lib.rs
  rust/src/lock.rs
  rust/src/main.rs
Labels: C-rust, Review effort 2/5, B-manager

#16370 [rust] Log browser path also in offline mode (#16215)
  rust/src/main.rs
Labels: C-rust, Review effort 2/5, B-manager

#16382 [dotnet] [bidi] Implement browsing context download events
  dotnet/src/webdriver/BiDi/BrowsingContext/BrowsingContext.cs
  dotnet/src/webdriver/BiDi/BrowsingContext/BrowsingContextModule.cs
  dotnet/src/webdriver/BiDi/BrowsingContext/DownloadEndEventArgs.cs
  dotnet/src/webdriver/BiDi/BrowsingContext/DownloadWillBeginEventArgs.cs
  dotnet/src/webdriver/BiDi/Communication/Broker.cs
  dotnet/src/webdriver/BiDi/Communication/Json/BiDiJsonSerializerContext.cs
  dotnet/src/webdriver/BiDi/Communication/Json/Converters/Polymorphic/DownloadEndEventArgsConverter.cs
  dotnet/test/common/BiDi/BrowsingContext/BrowsingContextEventsTest.cs
Labels: C-dotnet, Review effort 2/5

#16384 [dotnet] [bidi] Support network SetExtraHeaders command
  dotnet/src/webdriver/BiDi/Communication/Json/BiDiJsonSerializerContext.cs
  dotnet/src/webdriver/BiDi/Network/NetworkModule.cs
  dotnet/src/webdriver/BiDi/Network/SetExtraHeadersCommand.cs
  dotnet/test/common/BiDi/Network/NetworkTest.cs
Labels: C-dotnet, Review effort 2/5

#16391 [py] Fix Selenium Manager tests on Windows
  .github/workflows/bazel.yml
  .github/workflows/ci-python.yml
  py/test/selenium/webdriver/common/selenium_manager_tests.py
Labels: C-py, B-build, Review effort 2/5

#16395 [py] Fix chromedriver/msedgedriver service tests
  py/test/selenium/webdriver/chrome/chrome_service_tests.py
  py/test/selenium/webdriver/edge/edge_service_tests.py
Labels: C-py, Review effort 2/5

#16392 [dotnet] [bidi] Modules as extensions
  dotnet/src/webdriver/BiDi/BiDi.cs
  dotnet/src/webdriver/BiDi/Browser/BrowserModule.cs
  dotnet/src/webdriver/BiDi/BrowsingContext/BrowsingContextModule.cs
  dotnet/src/webdriver/BiDi/Communication/Broker.cs
  dotnet/src/webdriver/BiDi/Emulation/EmulationModule.cs
  dotnet/src/webdriver/BiDi/Input/InputModule.cs
  dotnet/src/webdriver/BiDi/Log/LogModule.cs
  dotnet/src/webdriver/BiDi/Module.cs
  dotnet/src/webdriver/BiDi/Network/NetworkModule.cs
  dotnet/src/webdriver/BiDi/Script/ScriptModule.cs
  dotnet/src/webdriver/BiDi/Session/SessionModule.cs
  dotnet/src/webdriver/BiDi/Storage/StorageModule.cs
  dotnet/src/webdriver/BiDi/WebExtension/WebExtensionModule.cs
Labels: C-dotnet, Review effort 4/5, Review effort 3/5

#16397 [dotnet] [bidi] Provide type info immediately when serializing
  dotnet/src/webdriver/BiDi/Browser/BrowserModule.cs
  dotnet/src/webdriver/BiDi/BrowsingContext/BrowsingContextModule.cs
  dotnet/src/webdriver/BiDi/Communication/Broker.cs
  dotnet/src/webdriver/BiDi/Emulation/EmulationModule.cs
  dotnet/src/webdriver/BiDi/Input/InputModule.cs
  dotnet/src/webdriver/BiDi/Network/NetworkModule.cs
  dotnet/src/webdriver/BiDi/Script/ScriptModule.cs
  dotnet/src/webdriver/BiDi/Session/SessionModule.cs
  dotnet/src/webdriver/BiDi/Storage/StorageModule.cs
  dotnet/src/webdriver/BiDi/WebExtension/WebExtensionModule.cs
Labels: C-dotnet, Review effort 3/5
